<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//dtd/Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenbanban.core.infrastructure.persistence.mapper.ChineseMedicinePiecePoMapper">

    <insert id="insert" parameterType="com.zhenbanban.core.infrastructure.persistence.po.ChineseMedicinePiecePo" useGeneratedKeys="false">
        INSERT INTO chinese_medicine_pieces (id, piece_code, piece_name, piece_name_pinyin, piece_name_pinyin_abbr,
        piece_alias, piece_alias_pinyin, piece_alias_pinyin_abbr, nature, meridian,
        indications, dosage, created_at)
        VALUES (#{id}, #{pieceCode}, #{pieceName}, #{pieceNamePinyin}, #{pieceNamePinyinAbbr},
        #{pieceAlias}, #{pieceAliasPinyin}, #{pieceAliasPinyinAbbr}, #{nature}, #{meridian},
        #{indications}, #{dosage}, #{createdAt})
    </insert>

    <update id="update" parameterType="com.zhenbanban.core.infrastructure.persistence.po.ChineseMedicinePiecePo">
        UPDATE chinese_medicine_pieces
        SET piece_code = #{pieceCode},
        piece_name = #{pieceName},
        piece_name_pinyin = #{pieceNamePinyin},
        piece_name_pinyin_abbr = #{pieceNamePinyinAbbr},
        piece_alias = #{pieceAlias},
        piece_alias_pinyin = #{pieceAliasPinyin},
        piece_alias_pinyin_abbr = #{pieceAliasPinyinAbbr},
        nature = #{nature},
        meridian = #{meridian},
        indications = #{indications},
        dosage = #{dosage},
        updated_at = #{updatedAt}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        UPDATE chinese_medicine_pieces
        SET deleted_at = UNIX_TIMESTAMP(NOW(3)) * 1000
        WHERE id = #{id}
    </delete>

    <select id="findById" parameterType="Long" resultType="com.zhenbanban.core.infrastructure.persistence.po.ChineseMedicinePiecePo">
        SELECT *
        FROM chinese_medicine_pieces
        WHERE id = #{id}
    </select>

    <select id="findIdByCodeAndName" resultType="Long">
        SELECT id
        FROM chinese_medicine_pieces
        WHERE piece_code = #{pieceCode} AND piece_name = #{pieceName}
    </select>

    <select id="findAll" resultType="com.zhenbanban.core.infrastructure.persistence.po.ChineseMedicinePiecePo">
        SELECT *
        FROM chinese_medicine_pieces
    </select>

    <select id="count" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(id) FROM chinese_medicine_pieces
        <where>
            <if test="id != null and id.length > 0">
                AND id = #{id}
            </if>
            <if test="deleted != null and deleted">
                AND deleted_at > 0
            </if>
            <if test="deleted != null and !deleted">
                AND deleted_at = 0
            </if>
            <if test="keywords != null and keywords.size() > 0">
                AND (
                <foreach item="w" collection="keywords" separator="OR">
                    piece_code LIKE CONCAT('%', #{w}, '%')
                    OR piece_name LIKE CONCAT('%', #{w}, '%')
                    OR piece_name_pinyin LIKE CONCAT('%', #{w}, '%')
                    OR piece_name_pinyin_abbr LIKE CONCAT('%', #{w}, '%')
                    OR piece_alias LIKE CONCAT('%', #{w}, '%')
                    OR piece_alias_pinyin LIKE CONCAT('%', #{w}, '%')
                    OR piece_alias_pinyin_abbr LIKE CONCAT('%', #{w}, '%')
                </foreach>
                )
            </if>
        </where>
    </select>

    <select id="search" parameterType="java.util.Map" resultType="com.zhenbanban.core.infrastructure.persistence.po.ChineseMedicinePiecePo">
        SELECT * FROM chinese_medicine_pieces
        <where>
            <if test="id != null and id.length > 0">
                AND id = #{id}
            </if>
            <if test="deleted != null and deleted">
                AND deleted_at > 0
            </if>
            <if test="deleted != null and !deleted">
                AND deleted_at = 0
            </if>
            <if test="keywords != null and keywords.size() > 0">
                AND (
                <foreach item="w" collection="keywords" separator="OR">
                    piece_code LIKE CONCAT('%', #{w}, '%')
                    OR piece_name LIKE CONCAT('%', #{w}, '%')
                    OR piece_name_pinyin LIKE CONCAT('%', #{w}, '%')
                    OR piece_name_pinyin_abbr LIKE CONCAT('%', #{w}, '%')
                    OR piece_alias LIKE CONCAT('%', #{w}, '%')
                    OR piece_alias_pinyin LIKE CONCAT('%', #{w}, '%')
                    OR piece_alias_pinyin_abbr LIKE CONCAT('%', #{w}, '%')
                </foreach>
                )
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="orderBy != null and orderBy != ''">
                #{orderBy}
            </when>
            <otherwise>
                id DESC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
        <if test="offset == null and limit != null">
            LIMIT #{limit}
        </if>
        <if test="offset != null and limit == null">
            LIMIT #{offset}, 18446744073709551615
        </if>
    </select>

</mapper>
