<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//dtd/Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenbanban.core.infrastructure.persistence.mapper.DepartmentPoMapper">
    <!-- 互联网医院科室(departments)表映射 -->

    <resultMap id="DepartmentMap" type="DepartmentPo">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="departmentType" column="department_type"/>
        <result property="departmentName" column="department_name"/>
        <result property="summary" column="summary"/>
        <result property="description" column="description"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <collection property="children" ofType="DepartmentPo"
                    select="findByParentId" column="id"/>
    </resultMap>

    <insert id="insert" parameterType="DepartmentPo" useGeneratedKeys="false">
        INSERT INTO departments (id, parent_id, department_type, department_name, summary, description, created_at)
        VALUES (#{id}, #{parentId}, #{departmentType}, #{departmentName}, #{summary}, #{description}, #{createdAt})
    </insert>

    <update id="update" parameterType="DepartmentPo">
        UPDATE departments
        SET
        parent_id = #{parentId},
        department_type = #{departmentType},
        department_name = #{departmentName},
        summary = #{summary},
        description = #{description},
        updated_at = #{updatedAt}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        UPDATE departments SET deleted_at=UNIX_TIMESTAMP(NOW(3)) * 1000 WHERE id = #{id}
    </delete>

    <select id="findById" parameterType="Long" resultMap="DepartmentMap">
        SELECT *
        FROM departments
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="DepartmentMap">
        SELECT *
        FROM departments
    </select>

    <select id="findIdByName" parameterType="String" resultType="Long">
        SELECT id
        FROM departments
        WHERE department_name = #{name}
    </select>

    <select id="count" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(id) FROM departments
        <where>
            deleted_at = 0
            <if test="id != null and id > 0">
                AND id = #{id}
            </if>
            <if test="parentId != null and parentId >= 0">
                AND parent_id = #{parentId}
            </if>
            <if test="departmentType != null and departmentType != ''">
                AND department_type = #{departmentType}
            </if>
            <if test="keywords != null and keywords.size() > 0">
                AND (
                <foreach item="w" collection="keywords" separator="OR">
                    department_name LIKE CONCAT('%', #{w}, '%')
                </foreach>
                )
            </if>
        </where>
    </select>

    <select id="search" parameterType="java.util.Map" resultMap="DepartmentMap">
        SELECT * FROM departments
        <where>
            deleted_at = 0
            <if test="id != null and id > 0">
                AND id = #{id}
            </if>
            <if test="parentId != null and parentId >= 0">
                AND parent_id = #{parentId}
            </if>
            <if test="departmentType != null and departmentType != ''">
                AND department_type = #{departmentType}
            </if>
            <if test="keywords != null and keywords.size() > 0">
                AND (
                <foreach item="w" collection="keywords" separator="OR">
                    department_name LIKE CONCAT('%', #{w}, '%')
                </foreach>
                )
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="orderBy != null and orderBy != ''">
                #{orderBy}
            </when>
            <otherwise>
                id ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
        <if test="offset == null and limit != null">
            LIMIT #{limit}
        </if>
        <if test="offset != null and limit == null">
            LIMIT #{offset}, 18446744073709551615
        </if>
    </select>

    <select id="findByParentId" resultMap="DepartmentMap" parameterType="Long">
        SELECT *
        FROM departments
        WHERE parent_id = #{parentId} AND deleted_at = 0
        ORDER BY department_type ASC, id ASC
    </select>

</mapper>
