<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//dtd/Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenbanban.core.infrastructure.persistence.mapper.PermissionPoMapper">
    <!-- 权限(permissions)表映射 -->

    <insert id="insert" parameterType="PermissionPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO permissions (id, group_id, permission_name, display_name, description, created_at)
        VALUES (#{id}, #{groupId}, #{permissionName}, #{displayName}, #{description}, #{createdAt})
    </insert>

    <update id="update" parameterType="PermissionPo">
        UPDATE permissions SET
        group_id = #{groupId},
        permission_name = #{permissionName},
        display_name = #{displayName},
        description = #{description},
        updated_at = #{updatedAt}
        WHERE id = #{id}
    </update>

    <update id="removeGroup" parameterType="Long">
        UPDATE permissions SET
        group_id = 0
        WHERE group_id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM permissions WHERE id = #{id}
    </delete>

    <select id="findById" parameterType="Long" resultType="PermissionPo">
        SELECT p.*, g.display_name as group_name FROM
        permissions AS p
        LEFT JOIN permission_groups AS g ON g.id = p.group_id
        WHERE p.id = #{id}
    </select>

    <select id="findIdByPermissionName" parameterType="String" resultType="Long">
        SELECT id FROM permissions WHERE permission_name = #{permissionName}
    </select>

    <select id="findByDisplayName" parameterType="String" resultType="Long">
        SELECT id FROM permissions WHERE display_name = #{displayName}
    </select>

    <select id="findAll" resultType="PermissionPo">
        SELECT p.*,  g.display_name as group_name FROM
        permissions AS p
        LEFT JOIN permission_groups AS g ON g.id = p.group_id
    </select>

    <select id="count" parameterType="java.util.Map">
        SELECT COUNT(id) FROM permissions
        <where>
            <if test="groupId != null and groupId > 0">
                AND group_id = #{groupId}
            </if>
            <if test="keywords != null and keywords.size() > 0">
                AND (
                <foreach item="w" collection="keywords" separator="OR">
                    permission_name LIKE CONCAT('%', #{w}, '%') OR display_name LIKE CONCAT('%', #{w}, '%')
                </foreach>
                )
            </if>
        </where>
    </select>

    <select id="search" parameterType="java.util.Map" resultType="PermissionPo">
        SELECT p.*, g.display_name as group_name FROM
        permissions AS p
        LEFT JOIN permission_groups AS g ON g.id = p.group_id
        <where>
            <if test="groupId != null and groupId > 0">
                AND p.group_id = #{groupId}
            </if>
            <if test="keywords != null and keywords.size() > 0">
                AND (
                <foreach item="w" collection="keywords" separator="OR">
                    p.permission_name LIKE CONCAT('%', #{w}, '%') OR p.display_name LIKE CONCAT('%', #{w}, '%')
                </foreach>
                )
            </if>
        </where>
        ORDER BY <choose>
        <when test="orderBy != null and orderBy != ''">
            #{orderBy}
        </when>
        <otherwise>
            p.id DESC
        </otherwise>
        </choose>
        Limit #{offset}, #{limit}
    </select>

    <select id="findPermissionsByRoleId" parameterType="Long" resultType="PermissionPo">
        SELECT p.*, g.group_name FROM
        permissions AS p
        LEFT JOIN permission_groups AS g ON g.id = p.group_id
        WHERE p.id IN (
        SELECT rp.permission_id
        FROM role_permissions rp
        WHERE rp.role_id = #{id}
        )
    </select>

    <select id="countByIds" parameterType="java.util.Set" resultType="Integer">
        SELECT COUNT(*) FROM permissions WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>